
.navbar{
    background-color:#f04086 !important;
    color: white !important;
    flex-wrap: wrap;
    max-height: 300px;
    
}
.nav-link{
    color: white;
    font-weight: bold;
}
.logo{
    height: 60px;
    flex-wrap: wrap;
}
.nav-item{
    color: white;
}
.fa-shopping-cart{
    font-size: 32px !important;
}
.fa-user-circle{
    font-size: 32px !important;
}
.carousel-item{
    max-height: 700px;
}
.fa-truck{
    font-size: 50px !important;
    margin-right: 20px;
    color: #C2185B !important;
}
.fa-headphones{
    font-size: 50px !important;
    margin-right: 20px;
    color: #C2185B !important;
}
.fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 20px;
    color: #C2185B !important;
}
.card1,.card2,.card3{
    display: flex;
    background-color: rgb(243, 239, 239);
    box-shadow:4px 4px 5px rgb(13, 14, 14);
    height: 70px;
    width: 300px;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    justify-content: center;
    align-items: center;
    color: #C2185B !important;
}
.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    flex-wrap: wrap;
}
.newarrivals{
    margin-top: 100px;
}
.btn-primary{
    width: 100%;
    background-color: #C2185B !important;
    
}
.card-text{
    font-weight: bolder;
}
.card-img-top{
    height: 250px;
}
.card{
    height: 400px;
    width: 200px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.headding{
    text-align: center ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:  1500px;
    color: #C2185B !important ;
    margin: 30px;
    
}
.headding>h1{
    text-shadow: 2px 4px 10chdf5px black;

}
.fa-copyright{
    margin-right: 50PX !important;
   
}
.end{
    color: white;
    text-align: center !important;
    
}
.footer{
    background-color:#C2185B !important ;
    height: 70px;
    width: 100%;
    padding: 10px;
    margin-top: 10px !important;
   
}
.fa-copyright{
    margin-right: 20px !important;
}